body {
    transition: background-color 0.3s, color 0.3s;
    padding: 30px;
}

.light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dark {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.monospaced {
    font-family: "Courier New", Courier, monospace;
}

.art {
    margin-top: 20px;
}

.text-light {
    background: linear-gradient(90deg, #111, #333, #111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-dark {
    color: white;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}
pre {
    overflow-x: auto;
    margin-top: 20px;
}